version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default: 7
      semver-major: 30
      semver-minor: 7
      semver-patch: 3
