name: "CI (haskell)"

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}

      - uses: cachix/cachix-action@v15
        with:
          name: gawakawa
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Check IOG cache
        id: iog-cache
        if: github.event_name == 'pull_request'
        working-directory: templates/haskell
        run: |
          dry_run_output=$(nix build --dry-run '.#devShells.x86_64-linux.default' --accept-flake-config 2>&1)

          patterns=(
            'ghc-[0-9]+\.[0-9]+\.[0-9]+\.drv'
            'haskell-language-server-exe-haskell-language-server-[0-9.]+\.drv'
          )

          cached=true
          for pattern in "${patterns[@]}"; do
            if echo "$dry_run_output" | grep -qE "/nix/store/[a-z0-9]+-$pattern"; then
              cached=false
              break
            fi
          done

          echo "cached=$cached" >> $GITHUB_OUTPUT

      - name: Close PR if GHC or HLS not cached in IOG
        if: github.event_name == 'pull_request' && steps.iog-cache.outputs.cached == 'false'
        run: gh pr close ${{ github.event.pull_request.number }} --delete-branch --comment "GHC or HLS not cached in IOG"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Flake check
        if: github.event_name != 'pull_request' || steps.iog-cache.outputs.cached == 'true'
        working-directory: templates/haskell
        run: nix flake check --accept-flake-config

      - name: Test devShell
        if: github.event_name != 'pull_request' || steps.iog-cache.outputs.cached == 'true'
        working-directory: templates/haskell
        run: nix develop --accept-flake-config -c echo "DevShell works"
