name: "CI"

on:
  pull_request:
  push:

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}

      - name: Format check
        run: nix fmt -- --ci

      - name: Flake check
        run: nix flake check

  test-templates:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        template: [flake-parts, rustup, rust-overlay, purs-nix, python, deno, pnpm, haskell, go]
        exclude:
          - os: macos-latest
            template: purs-nix
          - os: macos-latest
            template: haskell
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}

      - name: Check ${{ matrix.template }} template
        if: matrix.template != 'haskell'
        working-directory: ${{ matrix.template }}
        run: nix flake check

      - name: Check ${{ matrix.template }} template (with IFD)
        if: matrix.template == 'haskell'
        working-directory: ${{ matrix.template }}
        run: nix flake check --option allow-import-from-derivation true

      - name: Test devShell for ${{ matrix.template }} template
        working-directory: ${{ matrix.template }}
        run: nix develop -c echo "DevShell works"
